@model List<int?>;

@foreach (var item in Model)
{
    if (item == DateTime.Now.Year)
    {
        <option value="@item" selected>@item</option>
    }
    else
    {
        <option value="@item">@item</option>
    }
}