@model UsuarioModel;
@{
    ViewData["Title"] = "Cadastro de usuário";
}

<div class="row px-5 mb-2">
    <h2 class="text-uppercase">
        Novo usuário
    </h2>
</div>
<hr />

<form method="post" asp-action="Cadastro">
    <input type="hidden" asp-for="ID" />

    <div class="row d-flex gy-3 mb-3">
        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="NomeCompleto">Nome</label>
            <input type="text" class="form-control w-100" asp-for="NomeCompleto">
        </div>

        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="NomeCompleto">Email</label>
            <input type="email" class="form-control w-100" asp-for="Email">
        </div>

        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="Usuario">Usuario</label>
            <input type="text" class="form-control w-100" asp-for="Usuario">
        </div>

        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="Tipo">Tipo</label>
            <select class="form-select w-100" asp-for="Tipo" aria-label="Tipo">
                <option selected disabled>Selecione um tipo</option>
                <option value="C">Usuario Comum</option>
                <option value="A">Administrador</option>
            </select>
        </div>
    </div>

    @Html.Partial("Components/_FormFooter")



</form>
