@model UsuarioModel;

<div class="row mb-2">
    <h2 class="text-uppercase">
        Cadastre-se
    </h2>
</div>

<hr />

<form method="post" id="form-cadastro">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="GoogleId" />

    <div class="row d-flex gy-3 mb-3">
        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="Email" class="gl-label">Email</label>
            <input type="email" class="gl-input" asp-for="Email">
        </div>
        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="Usuario" class="gl-label">Usuario</label>
            <input type="text" class="gl-input" asp-for="Usuario">
        </div>
        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="NomeCompleto" class="gl-label">Nome Completo</label>
            <input type="text" class="gl-input" asp-for="NomeCompleto">
        </div>
        <div class="col-12 col-sm-6 col-md-auto">
            <label asp-for="Genero" class="gl-label">Gênero</label>
            <select asp-for="Genero" class="gl-input gl-select">
                <option disabled selected>GENERO</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="O">Outro</option>
            </select>
        </div>
    </div>

    <div class="row mb-3 justify-content-center px-3">
        <h6 class="alert alert-primary">
            Enviaremos um e-mail com uma senha provisória para validar o e-mail inserido e concluir o cadastro.
        </h6>
    </div>

    <partial name="_FormFooter" />

</form>


<div class="row justify-content-center mb-3">
    <a asp-action="LoginGoogle" asp-controller="GoogleLogin" class="google-material">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
    </a>
</div>


@section Scripts {
    <script>
        //TODO: adicionar loading

        $('#btnSalvar').on('click', function () {
            $.ajax({
                url: '/Home/Cadastro',
                type: 'POST',
                data: $('#form-cadastro').serialize(),
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                beforeSend: function () {
                    $('#btnSalvar').prop('disabled', true);
                },
                complete: function () {
                    $('#btnSalvar').prop('disabled', false);
                }
            })
            .done(function (response) {
                if (response.success) {
                    window.location.href = response.redirectUrl;
                }
            })
            .fail(function (xhr) {
                if (xhr.responseJSON) {
                    Swal.fire({
                        icon: 'error',
                        title: xhr.responseJSON.title ?? 'Erro',
                        html: xhr.responseJSON.detail
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: 'Erro inesperado ao processar a requisição.'
                    });
                }
            });
        });


    </script>
}
