@model UsuarioModel
@{
    ViewData["Title"] = "Login";
}
<style>
    .form-floating > .form-control:focus ~ label::after,
    .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
    .form-floating > .form-control-plaintext ~ label::after,
    .form-floating > .form-select ~ label::after {
        background-color: transparent !important;
        color: black;
    }

    .google-material {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 25px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        transition: 0.2s;
        width: fit-content;
    }

        .google-material img {
            width: 24px;
            height: 24px;
        }

        .google-material:hover {
            background: #f5f5f5;
        }
</style>

<div class="row d-flex justify-content-center">
    <div class="mx-auto mx-sm-1 col-12 col-sm-6 col-md-6 col-lg-4 py-5">
        <div class="">
            <div class="card-body px-3 py-4 bg-dark rounded-3 shadow-lg">
                <div class="">
                    <h2 class="display-4 mb-3 text-light text-center">GamerLog</h2>
                    <h5 class="text-center mb-3">Organizando sua jogatina!</h5>

                    <form class="form" method="post" id="form-login">
                        @if (ViewData["MSG_E"] != null)
                        {
                            <span class="alert alert-danger fw-bold m-0">
                                @ViewData["MSG_E"]
                            </span>
                        }
                        <div class="form-floating mb-3">
                            <input id="Login" name="Login" type="text" class="form-control" placeholder=" " required />
                            <label class="text-dark" for="Login">Usuario ou E-mail</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input id="Senha" name="Senha" type="password" class="form-control" placeholder=" " required />
                            <label class="text-dark" for="Senha">Senha</label>
                        </div>

                        <div class="text-center w-100 mb-3">
                            <button type="button" class="btn btn-primary w-100 py-3" id="btnLogin">
                                <span id="texto-login">
                                    ACESSAR
                                </span>
                                <span id="loading" style="display:none; text-align:center;" class="spinner-border spinner-border-sm" role="status"></span>
                            </button>
                            <div class="row py-2">
                                <div class="col-6 fs-7 text-start">
                                    <a class="link-light" asp-action="Cadastro" asp-controller="Usuario">Cadastre-se</a>
                                </div>
                                <div class="col-6 fs-7 text-end">
                                    <a class="link-light" asp-action="RecuperarSenha" asp-controller="Home">Esqueci minha senha</a>
                                </div>
                            </div>

                        </div>

                        <div class="row justify-content-center mb-3">
                            <div class="col-5">
                                <hr />
                            </div>
                            <div class="col-2 text-center fs-8 mt-1">
                                OU
                            </div>
                            <div class="col-5">
                                <hr />
                            </div>
                        </div>

                        <div class="row justify-content-center mb-3">
                            <a asp-action="LoginGoogle" asp-controller="GoogleLogin" class="google-material">
                                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).on('click', '#btnLogin', function (e) {
            e.preventDefault();

            $.ajax({
                url: '/Home/Login',
                type: 'POST',
                data: $('#form-login').serialize(),
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                beforeSend: function () {
                    $('#btnLogin').prop('disabled', true);
                },
                complete: function () {
                    $('#btnLogin').prop('disabled', false);
                },
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirectUrl;
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: response.title ?? 'Erro',
                            text: response.detail
                        });
                    }
                },
                error: function (xhr) {
                    let json = xhr.responseJSON;

                    Swal.fire({
                        icon: 'error',
                        title: json?.title ?? 'Erro',
                        text: json?.detail ?? 'Ocorreu um erro inesperado.'
                    });
                }
            });
        });
    </script>
}