@using Z4.Lib;
@model List<RegistroJogoModel>

@{
    List<int?> meses = Model.Select(x => x.UltimaSessao?.Month).Distinct().OrderBy(x => x).ToList();
}

@if (meses.Count() > 0)
{
    <div class="row gap-5 justify-content-center">

        @foreach (int? mes in meses.OrderByDescending(x => x.Value))
        {
            <h3 class="text-uppercase mb-0 mt-2 text-center gl-text-muted">@mes?.ObterMesCompleto()</h3>
            <hr class="gl-divider-glow" />
            <div class="game-card-grid justify-content-center">
                @foreach (var game in Model.Where(x => x.UltimaSessao?.Month == mes))
                {
                    @await Component.InvokeAsync("CardJogo", game)
                }
            </div>
        }
    </div>
}

