@model UsuarioModel;


<div class="row mb-2">
    <h2 class="text-uppercase text-light">
        Editar Perfil
    </h2>
</div>

<hr />

<form method="post" id="form-cadastro">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="GoogleId" />

    <div class="row d-flex gy-3 mb-3">
        <div class="col-12 col-sm-6 col-lg-4">
            <label asp-for="Email" class="gl-label">Email</label>
            <input type="email" class="gl-input" asp-for="Email">
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <label asp-for="Usuario" class="gl-label">Usuario</label>
            <input type="text" class="gl-input" asp-for="Usuario">
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <label asp-for="NomeCompleto" class="gl-label">Nome Completo</label>
            <input type="text" class="gl-input" asp-for="NomeCompleto">
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <label asp-for="Genero" class="gl-label">Gênero</label>
            <select asp-for="Genero" class="gl-input gl-select text-secondary">
                <option disabled selected>GENERO</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="O">Outro</option>
            </select>
        </div>
        @if (Model.SenhaTemporaria == true)
        {
            <div class="row my-3">
                <div class="row mx-auto">
                    <span class="alert alert-warning"> Por motivos de segurança, recomendamos que você troque sua senha agora. </span>
                </div>
            </div>
        }

        <div class="col-12 col-sm-6 col-lg-4">
            <label asp-for="Senha" class="gl-label">Senha</label>
            <input type="password" class="gl-input" asp-for="Senha">
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <label asp-for="ConfirmacaoSenha" class="gl-label">Confirmação de senha</label>
            <input type="password" class="gl-input" asp-for="ConfirmacaoSenha">
        </div>
    </div>


    <partial name="_FormFooter"></partial>

</form>

<div class="row d-flex gap-2">
    @if (Model.GoogleId == null)
    {
        <form method="get" asp-action="VincularGoogle" asp-controller="GoogleLogin" class="col-auto">
            <input type="hidden" name="usuarioId" value="@Model.ID" />
            <button type="submit" class="btn btn-outline-secondary btn-google-hud text-light">
                <i class="fa-brands fa-google"></i>
                Vincular Google
            </button>
        </form>
    }
    @if (Model.steamid == null)
    {
        <form method="get" asp-action="VincularSteam" asp-controller="Steam" class="col-auto">
            <input type="hidden" name="usuarioId" value="@Model.ID" />
            <button class="btn btn-outline-secondary btn-steam-hud text-light">
                <i class="fa-brands fa-steam"></i>
                Vincular Steam
            </button>
        </form>
    }
</div>


@section Scripts {
    <script>
        $('#btnSalvar').on('click', function (evt) {
            fn_salvar(evt, '@Url.Action("Edicao", "Usuario")', '#form-cadastro', '#btnSalvar')
        });
    </script>
}
