@model UsuarioModel;

@{
    ViewData["Title"] = "Painél do usuário";
}

<div class="row">
    <div class="col-12 col-sm-4 d-flex gap-2 mb-3 mb-md-0">
        @if (!string.IsNullOrWhiteSpace(Model.avatarmedium))
        {
            <div class="ps-4 col-auto">
                <img src="@Model.avatarmedium" class="rounded-5" />
            </div>
            <div class="ps-2 col-8 justify-content-start text-light">
                <h4 class="fw-bold text-start mt-auto">@Model.Usuario</h4>
                <h6 class="fw-bold text-start mt-auto">@Model.personaname</h6>
            </div>
        }
        else
        {
            <h4 class="fw-bold text-start mt-auto">@Model.Usuario</h4>
        }
    </div>
    <form class="col-12 col-md-8" id="pesquisar">
        <div class="d-flex gap-1">
            <select name="ano" id="ano" class="gl-input gl-select text-secondary w-25">
                <option selected>ANO</option>
                @await Component.InvokeAsync("DropAnos", new { usuarioId = this.User.GetUserId() })
            </select>
            <input type="text" id="titulo" name="titulo" class="gl-input w-50" placeholder="Pesquisar jogo" />
            <a role="button" class="btn-gl-primary w-25" asp-action="Index" asp-controller="Rawg">
                NOVO
            </a>
        </div>
    </form>
</div>

<div class="mb-5">
    @await Component.InvokeAsync("ResumoJogador")
</div>

<div id="tabela-jogos" class="row mb-5 justify-content-center">
</div>

<div id="loading" style="display:none; text-align:center; padding:20px;">
    <span class="spinner-border" role="status"></span>
</div>

@section Scripts {
    <script>
        $('#pesquisar').on('submit', function (e) {
            e.preventDefault()
            carregarTabela();
        });

        $('#ano').on('change', function (e) {
            e.preventDefault()
            carregarTabela();
        });

        $('#filtrar').on('submit', function (e) {
            e.preventDefault()
            filtrarTabela();
        });

        $('#limpar-pesquisa').on('click', function(e){
            window.location.reload()
        })

        $("#titulo").on('keyup', function (e) {
            e.preventDefault()
            carregarTabela();
        });

        $(document).ready(function(){
            carregarTabela();
        })

        function carregarTabela() {
            const titulo = $('#titulo').val();

            $.ajax({
                url: '/Jogo/ListarJogos',
                type: 'POST',
                dataType: 'html',
                data: $('#pesquisar').serialize(),

                beforeSend: function () {
                },

                success: function (resultado) {
                    $("#tabela-jogos").html(resultado);
                    initRatings("#tabela-jogos");
                },

                complete: function () {
                },

                error: function () {
                }
            });

            $(document).ready(function () {
              initRatings();
            });
        }

        function filtrarTabela() {
            const titulo = $('#titulo').val();

            $.ajax({
                url: '/Jogo/ListarJogos',
                type: 'POST',
                dataType: 'html',
                data: $('#filtrar').serialize(),

                beforeSend: function () {
                },

                success: function (resultado) {
                    $("#tabela-jogos").html(resultado);
                    initRatings("#tabela-jogos");
                },

                complete: function () {
                },

                error: function () {
                }
            });

            $(document).ready(function () {
              initRatings();
            });
        }
    </script>
}

