@{
    int JogadoAnoAtual = ViewBag.JogadoAnoAtual;
    int JogadoAnoAnterior = ViewBag.JogadoAnoAnterior;
    string? GeneroFavorito = ViewBag.GeneroFavorito;
    string? JogoMaisJogado = ViewBag.JogoMaisJogado;
    int QtdJogosZerados = ViewBag.QtdJogosZerados;
    int QtdJogosPlatinados = ViewBag.QtdJogosPlatinados;
    int QtdJogosAbandonados = ViewBag.QtdJogosAbandonados;
    decimal tempoJogado = ViewBag.HorasJogadas;

    decimal porcJogados = 0;
    string porcCor = string.Empty;
    if (JogadoAnoAnterior > 0)
    {
        porcJogados = JogadoAnoAtual / JogadoAnoAnterior;
        porcCor = porcJogados >= 0 ? "text-success" : "text-danger";
        porcCor = porcJogados switch { > 0 => "text-success", < 0 => "text-danger", 0 => string.Empty };
    }


}

<div class="row alert shadow-lg bg-darkblue text-light mt-3">
    <div class="col-12 col-sm-6">
        <div class="row text-center">
            <div class="col-4">
                @* JOGADOS ANO *@
                <span class="fs-5 position-relative">
                    @JogadoAnoAtual

                    @if (porcJogados >= 0)
                    {
                        <span class="fs-10 p-1 position-absolute top-0 start-100 text-success">+@porcJogados.ToString("P1")</span>
                    }
                    else
                    {
                        <span class="fs-10 p-1 position-absolute top-0 start-100 text-danger">-@porcJogados.ToString("P1")</span>
                    }
                </span>
            </div>
            @* GENERO JOGADO *@
            <div class="col-4">
                <span class="fs-5">
                    @GeneroFavorito
                </span>
            </div>

            @* TEMPO JOGADO *@
            <div class="col-4">
                <span class="fs-5">@tempoJogado</span>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 fs-8">
                Jogados este ano
            </div>
            <div class="col-4 fs-8">
                Gênero mais jogado
            </div>
            <div class="col-4 fs-8">
                Horas jogadas
            </div>
        </div>
    </div>


    <div class="col-12 col-sm-6">
        <div class="row text-center">

            @* ZERADOS *@
            <div class="col-4">
                <span class="fs-5">@QtdJogosZerados</span>
            </div>

            @* PLATINADOS *@
            <div class="col-4">
                <span class="fs-5">@QtdJogosPlatinados</span>
            </div>

            @* ABANDONADOS *@
            <div class="col-4">
                <span class="fs-5">@QtdJogosAbandonados</span>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 fs-8">
                Jogos zerados
            </div>
            <div class="col-4 fs-8">
                Platinados
            </div>
            <div class="col-4 fs-8">
                Abandonados
            </div>
        </div>
    </div>
</div>
