<select name="Mes" id="Mes" class="form-select">
    <option selected>MÊS</option>
    <option value="01">JANEIRO</option>
    <option value="02">FEVEREIRO</option>
    <option value="03">MARÇO</option>
    <option value="04">ABRIL</option>
    <option value="05">MAIO</option>
    <option value="06">JUNHO</option>
    <option value="07">JULHO</option>
    <option value="08">AGOSTO</option>
    <option value="09">SETEMBRO</option>
    <option value="10">OUTUBRO</option>
    <option value="11">NOVEMBRO</option>
    <option value="12">DEZEMBRO</option>
</select>


@*

@await Component.InvokeAsync("DropMeses")

*@