@model RawgGameDto;
@{
    ViewData["Title"] = "Jogos";
}

<div class="row mb-3">
    <h2 class="col-2">JOGOS</h2>

    <form class="col" id="pesquisar">
        <div class="row justify-content-end g-2">
            <div class="col">
                <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Pesquisar jogo" />
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" id="pesquisar-jogos">
                    <i class="fa-solid fa-magnifying-glass"></i>&nbsp;
                    Pesquisar</button>
            </div>
            <div class="col-auto">
                <a asp-action="Index" asp-controller="Usuario" class="btn btn-secondary">
                    <i class="fa-solid fa-reply"></i>&nbsp;
                    Voltar</a>
            </div>
        </div>
    </form>
</div>

<div id="tabela-jogos" class="row gap-5 justify-content-center">
</div>

<div id="loading" style="display:none; text-align:center; padding:20px;">
    <span class="spinner-border" role="status"></span>
</div>

@section Scripts {
    <script>
        $('#pesquisar').on('submit', function (e) {
            e.preventDefault()
            carregarTabela();
        });

        $(document).ready(function(){
            carregarTabela();
        })

        function carregarTabela() {
            const titulo = $('#titulo').val();
            const page = $('#page').val();

            $.ajax({
                url: '/jogos/Pesquisar',
                type: 'POST',
                dataType: 'html',
                data: { titulo: titulo, page: page },

                beforeSend: function () {
                },

                success: function (resultado) {
                    $("#tabela-jogos").html(resultado);
                    initRatings("#tabela-jogos");
                },

                complete: function () {
                },

                error: function () {
                    Swal.fire({
                      icon: "error",
                      title: "Oops...",
                      text: "Erro ao carregar jogos, tente novamente."
                    });
                }
            });
        }
    </script>

}


