@model RawgGameDto;
@{
    ViewData["Title"] = "Jogos";
}

<div class="row mb-3">
    <div class="col-12 col-md-4">
        <h4 class="fw-bold text-center text-sm-start">JOGOS</h4>
    </div>
    <form class="col-12 col-md-8" id="pesquisar">
        <div class="d-flex gap-1">
            <input type="text" id="titulo" name="titulo" class="gl-input w-auto" placeholder="Pesquisar jogo" />
            <button type="submit" class="btn-gl-primary" id="pesquisar-jogos w-100">
                Pesquisar
            </button>
            <a asp-action="Index" asp-controller="Usuario" class="btn-gl-secondary w-auto">
                Voltar
            </a>
        </div>
    </form>
</div>

<div id="tabela-jogos" class="row gap-5 justify-content-center">
</div>

<div id="loading" style="display:none; text-align:center; padding:20px;">
    <span class="spinner-border" role="status"></span>
</div>

@section Scripts {
    <script>
        $('#pesquisar').on('submit', function (e) {
            e.preventDefault()
            carregarTabela();
        });

        $(document).ready(function(){
            carregarTabela();
        })

        function carregarTabela() {
            const titulo = $('#titulo').val();
            const page = $('#page').val();

            $.ajax({
                url: '/jogos/Pesquisar',
                type: 'POST',
                dataType: 'html',
                data: { titulo: titulo, page: page },

                beforeSend: function () {
                },

                success: function (resultado) {
                    $("#tabela-jogos").html(resultado);
                    initRatings("#tabela-jogos");
                },

                complete: function () {
                },

                error: function () {
                    Swal.fire({
                      icon: "error",
                      title: "Oops...",
                      text: "Erro ao carregar jogos, tente novamente."
                    });
                }
            });
        }
    </script>

}


